.btn-1 {
  width: 138.28px;
  height: 53.77px;

  background: #c6a372;
  box-shadow: 0px 4px 96px rgba(228, 203, 144, 0.1);
  border-radius: 6px;
}
.btn-2 {
  width: 110.28px;
  height: 53.77px;

  border: 1px solid #2a2a2a;
  filter: drop-shadow(0px 4px 96px rgba(228, 203, 144, 0.1));
  border-radius: 6px;
}
