.btn-1 {
  width: 138.28px;
  height: 53.77px;

  background: #c6a372;
  box-shadow: 0px 4px 96px rgba(228, 203, 144, 0.1);
  border-radius: 6px;
}
.btn-2 {
  width: 110.28px;
  height: 53.77px;

  border: 1px solid #2a2a2a;
  filter: drop-shadow(0px 4px 96px rgba(228, 203, 144, 0.1));
  border-radius: 6px;
}
.btn-3 {
  width: 257.71px;
  height: 54.11px;
  background: #c6a372;
  box-shadow: 0px 4.04764px 97.1434px rgba(228, 203, 144, 0.1);
  border-radius: 6px;
}
.btn-4 {
  height: 54.11px;
  background: #c6a372;
  box-shadow: 0px 4.04764px 97.1434px rgba(228, 203, 144, 0.1);
  border-radius: 6px;
}
.btn-5 {
  height: 50.77px;
  background: #d4b78f;
  border-radius: 42.0435px;
}
.btn-6 {
  width: 166.28px;
  height: 49.77px;
  background: #c6a372;
  box-shadow: 0px 4px 96px rgba(228, 203, 144, 0.1);
  border-radius: 6px;
}
