@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f5f5f5;
}

.nav-bg {
  background: rgba(212, 183, 143, 0.9);
}
/* .nav-bg {
  background: rgba(198, 163, 114, 0.9);
} */
