@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f5f5f5;
}

.nav-bg {
  background: rgba(163, 123, 68, 0.9);
}
.swiper-pagination .swiper-pagination-bullet {
  background-color: #c6a372;
}
.swiper-scrollbar-drag {
  background-color: #c6a372 !important;
}

.swiper-wrapper {
  margin-bottom: 2rem;
}